@import "reset";
@import "Utils/variables";
// @import "Layout/header";
@import "Layout/bisHeader.scss";
@import "Layout/content";
@import "Layout/fonct";
@import "Layout/footer";
@import "Composants/button";
@import "Page/contact";
@import "Page/formation";

@font-face {
    font-family: roboting;
    src: url(../fonts/Fasthand/Fasthand-Regular.ttf);
}

@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: raleway;
    src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
}

body {
    width: 100%;
    min-height: 100%;
    color: $color-1;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
}
