html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
 ========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 ========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
 ========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
 ========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
 ========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input { /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select { /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
 ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
 ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  position: initial;
  top: 0;
  left: 0;
}
header .neonlogo {
  border: solid 3px rgb(0, 163, 220);
  border-radius: 10px;
  box-shadow: 2px 2px 10px grey;
  padding: 0px;
  width: 60%;
  max-height: 100px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
}
header .neonlogo h1 {
  width: 80%;
  padding-top: 10px;
  margin: auto;
  margin-top: 0px;
  color: rgb(225, 185, 75);
  text-shadow: 1px 1px 10px grey;
  font-family: roboting;
  font-size: 2rem;
  -webkit-animation: h1 1500ms;
          animation: h1 1500ms;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
}
header .neonlogo .acch1 {
  margin: auto;
  color: rgb(0, 163, 220);
  font-family: "Courier New", Courier, monospace;
  text-shadow: 2px 2px 10px grey;
  font-size: 1.3rem;
  margin-bottom: 10px;
  -webkit-animation: acch1 1500ms;
          animation: acch1 1500ms;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-delay: 233ms;
          animation-delay: 233ms;
}

@-webkit-keyframes h1 {
  0% {
    color: rgb(225, 185, 75);
    text-shadow: none;
  }
  5% {
    color: rgb(85, 85, 85);
  }
  6% {
    color: rgb(225, 185, 75);
    text-shadow: none;
  }
  7% {
    color: rgb(85, 85, 85);
  }
  14% {
    color: rgb(225, 185, 75);
    text-shadow: none;
  }
  15% {
    color: rgb(85, 85, 85);
  }
  19% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  20% {
    color: rgb(225, 185, 75);
  }
  21% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  59% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  60% {
    color: rgb(225, 185, 75);
  }
  61% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  97% {
    color: rgb(225, 185, 75);
    text-shadow: none;
  }
  100% {
    color: rgb(225, 185, 75);
  }
}

@keyframes h1 {
  0% {
    color: rgb(225, 185, 75);
    text-shadow: none;
  }
  5% {
    color: rgb(85, 85, 85);
  }
  6% {
    color: rgb(225, 185, 75);
    text-shadow: none;
  }
  7% {
    color: rgb(85, 85, 85);
  }
  14% {
    color: rgb(225, 185, 75);
    text-shadow: none;
  }
  15% {
    color: rgb(85, 85, 85);
  }
  19% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  20% {
    color: rgb(225, 185, 75);
  }
  21% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  59% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  60% {
    color: rgb(225, 185, 75);
  }
  61% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  97% {
    color: rgb(225, 185, 75);
    text-shadow: none;
  }
  100% {
    color: rgb(225, 185, 75);
  }
}
@-webkit-keyframes acch1 {
  0% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  5% {
    color: rgb(0, 163, 220);
  }
  6% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  7% {
    color: rgb(0, 163, 220);
  }
  14% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  15% {
    color: rgb(0, 163, 220);
  }
  19% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  20% {
    color: rgb(0, 163, 220);
  }
  21% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  59% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  60% {
    color: rgb(0, 163, 220);
  }
  61% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  97% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  100% {
    color: rgb(0, 163, 220);
  }
}
@keyframes acch1 {
  0% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  5% {
    color: rgb(0, 163, 220);
  }
  6% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  7% {
    color: rgb(0, 163, 220);
  }
  14% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  15% {
    color: rgb(0, 163, 220);
  }
  19% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  20% {
    color: rgb(0, 163, 220);
  }
  21% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  59% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  60% {
    color: rgb(0, 163, 220);
  }
  61% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  97% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  100% {
    color: rgb(0, 163, 220);
  }
}
@-webkit-keyframes menu {
  0% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  5% {
    color: rgb(225, 185, 75);
  }
  6% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  7% {
    color: rgb(225, 185, 75);
  }
  14% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  15% {
    color: rgb(225, 185, 75);
  }
  19% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  20% {
    color: rgb(225, 185, 75);
  }
  21% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  59% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  60% {
    color: rgb(225, 185, 75);
  }
  61% {
    color: rgb(225, 185, 75);
  }
  97% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  100% {
    color: rgb(225, 185, 75);
  }
}
@keyframes menu {
  0% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  5% {
    color: rgb(225, 185, 75);
  }
  6% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  7% {
    color: rgb(225, 185, 75);
  }
  14% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  15% {
    color: rgb(225, 185, 75);
  }
  19% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  20% {
    color: rgb(225, 185, 75);
  }
  21% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  59% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  60% {
    color: rgb(225, 185, 75);
  }
  61% {
    color: rgb(225, 185, 75);
  }
  97% {
    color: rgb(85, 85, 85);
    text-shadow: none;
  }
  100% {
    color: rgb(225, 185, 75);
  }
}
#neonlogobox {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin-top: 0px;
}
#neonlogobox #menuFixed {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#neonlogobox #menuFixed #menuneonlogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 300ms;
  padding: 10px;
  margin: 0px;
  z-index: 2;
  background-color: black;
}
#neonlogobox #menuFixed #menuneonlogo a {
  color: rgb(0, 163, 220);
  margin: 100px;
}
#neonlogobox #menuFixed #menuneonlogo a :hover {
  -webkit-animation: menu 500ms;
          animation: menu 500ms;
  color: rgb(225, 185, 75);
}
#neonlogobox #menuFixed #btn {
  background-color: transparent;
  color: rgb(0, 163, 220);
  border: none;
  font-size: 25px;
  z-index: 2;
  background-color: black;
  -webkit-animation: btnMenuOpen 500ms;
          animation: btnMenuOpen 500ms;
}
#neonlogobox #menuFixed #btn :hover {
  -webkit-animation: menu 500ms;
          animation: menu 500ms;
  color: rgb(225, 185, 75);
}
#neonlogobox #menuFixed #btnClose {
  background-color: transparent;
  color: rgb(0, 163, 220);
  border: none;
  font-size: 25px;
  margin-left: -18px;
  z-index: 1;
  -webkit-animation: btnMenuOpen 500ms;
          animation: btnMenuOpen 500ms;
}
#neonlogobox #menuFixed #btnClose :hover {
  -webkit-animation: menu 500ms;
          animation: menu 500ms;
  color: rgb(225, 185, 75);
}
#neonlogobox #menuFixed .menulogo {
  color: rgb(0, 163, 220);
  font-size: 25px;
  z-index: 2;
}
#neonlogobox #menuFixed #bisMenu {
  width: 100%;
  max-width: 1200px;
  height: 50px;
  margin: auto;
  margin-top: -50px;
  padding: 0px;
  background-color: black;
  font-weight: 700;
  font-size: 20px;
  z-index: 1;
}
#neonlogobox #menuFixed #bisMenu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
  text-align: center;
}
#neonlogobox #menuFixed #bisMenu li {
  list-style-type: none;
  margin: auto;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#neonlogobox #menuFixed #bisMenu li a {
  font-family: "montserrat";
  text-decoration: none;
  margin: auto;
  color: rgb(154, 154, 154);
  width: 100%;
  height: auto;
}
#neonlogobox #menuFixed #bisMenu li a:hover {
  color: rgb(225, 185, 75);
  text-shadow: 1px 1px 3px grey;
  -webkit-animation: menu 500ms;
          animation: menu 500ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
#neonlogobox #menuFixed #bisMenu i {
  font-size: 25px;
  margin: 15px;
  color: rgb(0, 163, 220);
  -webkit-animation: menu 500ms;
          animation: menu 500ms;
}

@-webkit-keyframes bisMenuOpen {
  0% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes bisMenuOpen {
  0% {
    margin-top: -50px;
  }
  100% {
    margin-top: 0px;
  }
}
@-webkit-keyframes bisMenuClose {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: -50px;
  }
}
@keyframes bisMenuClose {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: -50px;
  }
}
@-webkit-keyframes btnMenuOpen {
  0% {
    font-size: 25px;
  }
  90% {
    font-size: 25px;
    z-index: 1;
  }
  100% {
    z-index: 1;
    opacity: 0;
  }
}
@keyframes btnMenuOpen {
  0% {
    font-size: 25px;
  }
  90% {
    font-size: 25px;
    z-index: 1;
  }
  100% {
    z-index: 1;
    opacity: 0;
  }
}
@media only screen and (max-width: 800px) {
  header {
    width: 100%;
    background-color: black;
  }
  header #neonlogobox {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    margin: 0px;
  }
  header #neonlogobox #menuFixed {
    width: 100%;
  }
  header #neonlogobox #menuFixed #menuneonlogo {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px;
    transition-duration: 300ms;
    z-index: 2;
    background-color: black;
  }
  header #neonlogobox #menuFixed #menuneonlogo a {
    color: rgb(0, 163, 220);
    margin: 30px;
    background-color: black;
  }
  header #neonlogobox #menuFixed #menuneonlogo a :hover {
    -webkit-animation: menu 500ms;
            animation: menu 500ms;
    color: rgb(225, 185, 75);
  }
  header #neonlogobox #menuFixed .neonlogo {
    width: 90%;
  }
  header #neonlogobox #menuFixed .neonlogo .acch1 {
    font-size: 16px;
  }
  header #neonlogobox #menuFixed #btn {
    background-color: transparent;
    color: rgb(0, 163, 220);
    border: none;
    font-size: 25px;
    z-index: 2;
    background-color: black;
    -webkit-animation: btnMenuOpen 500ms;
            animation: btnMenuOpen 500ms;
  }
  header #neonlogobox #menuFixed #btn :hover {
    -webkit-animation: menu 500ms;
            animation: menu 500ms;
    color: rgb(225, 185, 75);
  }
  header #neonlogobox #menuFixed #btnClose {
    background-color: transparent;
    color: rgb(0, 163, 220);
    border: none;
    font-size: 25px;
    margin-left: -18px;
    z-index: 1;
    -webkit-animation: btnMenuOpen 500ms;
            animation: btnMenuOpen 500ms;
  }
  header #neonlogobox #menuFixed #btnClose :hover {
    -webkit-animation: menu 500ms;
            animation: menu 500ms;
    color: rgb(225, 185, 75);
  }
  header #neonlogobox #menuFixed .menulogo {
    color: rgb(0, 163, 220);
    font-size: 25px;
    z-index: 2;
  }
  header #neonlogobox #menuFixed #bisMenu {
    width: 100%;
    max-width: 1200px;
    height: 50px;
    margin: auto;
    margin-top: -50px;
    padding: 0px;
    background-color: black;
    font-weight: 700;
    font-size: 20px;
    z-index: 1;
  }
  header #neonlogobox #menuFixed #bisMenu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  header #neonlogobox #menuFixed #bisMenu li {
    list-style-type: none;
    margin: auto;
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    min-width: 50%;
  }
  header #neonlogobox #menuFixed #bisMenu li a {
    font-family: "montserrat";
    text-decoration: none;
    margin: auto;
    color: rgb(154, 154, 154);
    width: 100%;
    height: 100%;
  }
  header #neonlogobox #menuFixed #bisMenu li a:hover {
    color: rgb(225, 185, 75);
    text-shadow: 1px 1px 3px grey;
    -webkit-animation: menu 500ms;
            animation: menu 500ms;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
  }
  header #neonlogobox #menuFixed #bisMenu i {
    font-size: 25px;
    margin: 15px;
    color: rgb(0, 163, 220);
    -webkit-animation: menu 500ms;
            animation: menu 500ms;
  }
  @-webkit-keyframes bisMenuOpen {
    0% {
      margin-top: -50px;
    }
    100% {
      margin-top: 0px;
    }
  }
  @keyframes bisMenuOpen {
    0% {
      margin-top: -50px;
    }
    100% {
      margin-top: 0px;
    }
  }
  @-webkit-keyframes bisMenuClose {
    0% {
      margin-top: 0px;
    }
    100% {
      margin-top: -50px;
    }
  }
  @keyframes bisMenuClose {
    0% {
      margin-top: 0px;
    }
    100% {
      margin-top: -50px;
    }
  }
  @-webkit-keyframes btnMenuOpen {
    0% {
      font-size: 25px;
    }
    90% {
      font-size: 25px;
      z-index: 1;
    }
    100% {
      z-index: 1;
      opacity: 0;
    }
  }
  @keyframes btnMenuOpen {
    0% {
      font-size: 25px;
    }
    90% {
      font-size: 25px;
      z-index: 1;
    }
    100% {
      z-index: 1;
      opacity: 0;
    }
  }
}
.lastProdBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgb(255, 255, 255);
}
.lastProdBox h2 {
  text-align: left;
  font-size: 25px;
  font-weight: 900;
  color: rgb(154, 154, 154);
  font-family: "montserrat";
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 15px;
}
.lastProdBox .contentPart {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 100px;
}
.lastProdBox .contentPart .lastprod {
  box-shadow: rgb(209, 209, 209) 1px 1px 20px;
  border: solid 1px rgb(245, 245, 245);
  border-radius: 10px;
  width: 25%;
  min-width: 300px;
  height: auto;
  min-height: 400px;
  transition-duration: 100ms;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  margin: 0px;
  margin-bottom: 20px;
  padding-bottom: 0px;
}
.lastProdBox .contentPart .lastprod:hover {
  -webkit-animation: content 400ms;
          animation: content 400ms;
  border-color: rgb(225, 185, 75);
  box-shadow: rgb(225, 185, 75) 1px 1px 15px;
  transform: scale(1.01);
}
.lastProdBox .contentPart .lastprod .logobox {
  background-color: white;
  width: 100%;
  height: 70%;
  margin: auto;
  padding: 0px;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lastProdBox .contentPart .lastprod .logobox img {
  width: 70%;
  height: auto;
}
.lastProdBox .contentPart .lastprod .textpart {
  color: rgb(154, 154, 154);
  font-weight: 600;
  height: 30%;
  display: flex;
  border-radius: 0px 0px 10px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 14, 14);
  font-family: "montserrat";
}

@-webkit-keyframes content {
  0% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  5% {
    border-color: rgb(225, 185, 75);
  }
  6% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  7% {
    border-color: rgb(225, 185, 75);
  }
  14% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  15% {
    border-color: rgb(225, 185, 75);
  }
  19% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  20% {
    border-color: rgb(225, 185, 75);
  }
  21% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  59% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  60% {
    border-color: rgb(225, 185, 75);
  }
  61% {
    border-color: rgb(225, 185, 75);
  }
  97% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  100% {
    border-color: rgb(225, 185, 75);
  }
}

@keyframes content {
  0% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  5% {
    border-color: rgb(225, 185, 75);
  }
  6% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  7% {
    border-color: rgb(225, 185, 75);
  }
  14% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  15% {
    border-color: rgb(225, 185, 75);
  }
  19% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  20% {
    border-color: rgb(225, 185, 75);
  }
  21% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  59% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  60% {
    border-color: rgb(225, 185, 75);
  }
  61% {
    border-color: rgb(225, 185, 75);
  }
  97% {
    border-color: rgb(245, 245, 245);
    box-shadow: none;
  }
  100% {
    border-color: rgb(225, 185, 75);
  }
}
@media only screen and (max-width: 800px) {
  .lastProdBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  .lastProdBox h2 {
    text-align: left;
    font-size: 25px;
    font-weight: 900;
    color: rgb(154, 154, 154);
    font-family: "montserrat";
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
  }
  .lastProdBox .contentPart {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 100px;
  }
  .lastProdBox .contentPart .lastprod {
    box-shadow: rgb(209, 209, 209) 1px 1px 20px;
    border: solid 1px rgb(245, 245, 245);
    border-radius: 10px;
    width: 95%;
    min-width: 300px;
    height: 400px;
    transition-duration: 100ms;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    margin: 0px;
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
  .lastProdBox .contentPart .lastprod:hover {
    -webkit-animation: content 400ms;
            animation: content 400ms;
    border-color: rgb(225, 185, 75);
    box-shadow: rgb(225, 185, 75) 1px 1px 15px;
    transform: scale(1.01);
  }
  .lastProdBox .contentPart .lastprod .logobox {
    background-color: white;
    width: 100%;
    height: 70%;
    margin: auto;
    padding: 0px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lastProdBox .contentPart .lastprod .logobox img {
    width: 50%;
    height: auto;
  }
  .lastProdBox .contentPart .lastprod .textpart {
    color: rgb(154, 154, 154);
    font-weight: 600;
    height: 30%;
    display: flex;
    border-radius: 0px 0px 10px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);
    font-family: "montserrat";
  }
  @-webkit-keyframes content {
    0% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    5% {
      border-color: rgb(225, 185, 75);
    }
    6% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    7% {
      border-color: rgb(225, 185, 75);
    }
    14% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    15% {
      border-color: rgb(225, 185, 75);
    }
    19% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    20% {
      border-color: rgb(225, 185, 75);
    }
    21% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    59% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    60% {
      border-color: rgb(225, 185, 75);
    }
    61% {
      border-color: rgb(225, 185, 75);
    }
    97% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    100% {
      border-color: rgb(225, 185, 75);
    }
  }
  @keyframes content {
    0% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    5% {
      border-color: rgb(225, 185, 75);
    }
    6% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    7% {
      border-color: rgb(225, 185, 75);
    }
    14% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    15% {
      border-color: rgb(225, 185, 75);
    }
    19% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    20% {
      border-color: rgb(225, 185, 75);
    }
    21% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    59% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    60% {
      border-color: rgb(225, 185, 75);
    }
    61% {
      border-color: rgb(225, 185, 75);
    }
    97% {
      border-color: rgb(245, 245, 245);
      box-shadow: none;
    }
    100% {
      border-color: rgb(225, 185, 75);
    }
  }
}
footer {
  width: 100%;
  height: 120px;
  background-color: black;
  border-radius: 3px;
  left: 0;
  bottom: 0;
  text-align: center;
}
footer p {
  color: rgb(225, 185, 75);
  font-family: roboting;
  font-size: 25px;
  margin: 10px;
  padding-top: 10px;
}
footer #socialBox {
  margin: auto;
  font-size: 45px;
  padding-bottom: 15px;
}
footer #socialBox a {
  color: rgb(85, 85, 85);
  transition: 300ms;
  margin: 18px;
}
footer #socialBox a :visited {
  color: rgb(255, 255, 255);
}
footer #socialBox a :hover {
  transform: scale(1.15) rotate(0.05turn);
  transition: 300ms;
  color: rgb(225, 185, 75);
}
footer #socialBox i {
  transition: 300ms;
}

@media only screen and (max-width: 800px) {
  footer {
    width: 100%;
    height: 120px;
    background-color: black;
    border-radius: 3px;
    left: 0;
    bottom: 0;
    text-align: center;
  }
  footer p {
    color: rgb(225, 185, 75);
    font-family: roboting;
    font-size: 25px;
    margin: 10px;
    padding-top: 10px;
  }
  footer #socialBox {
    margin: auto;
    font-size: 45px;
    padding-bottom: 15px;
  }
  footer #socialBox a {
    color: rgb(85, 85, 85);
    transition: 300ms;
    margin: 18px;
  }
  footer #socialBox a :visited {
    color: rgb(255, 255, 255);
  }
  footer #socialBox a :hover {
    transform: scale(1.15) rotate(0.05turn);
    transition: 300ms;
    color: rgb(225, 185, 75);
  }
  footer #socialBox i {
    transition: 300ms;
  }
}
#contact-form {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 40px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
#contact-form input {
  margin: 20px;
  border-radius: 5px;
  height: 25px;
  text-align: left;
  border-color: rgb(154, 154, 154);
}
#contact-form label {
  color: rgb(85, 85, 85);
  font-family: "montserrat";
}
#contact-form textarea {
  height: 70px;
  margin: 20px;
  border-radius: 10px;
  text-align: left;
  border-color: rgb(154, 154, 154);
}
#contact-form .send {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 163, 220);
  font-family: "montserrat";
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  height: 50px;
  width: 180px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 40px;
  cursor: pointer;
}

.oclink img {
  width: 150px;
}

.project {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.projects {
  background-color: rgba(249, 249, 249, 0.3);
  box-shadow: rgb(198, 198, 198) 3px 3px 30px;
  margin: 15px;
  padding: 10px;
  width: 240px;
  height: 240px;
  border-radius: 10px;
}

@font-face {
  font-family: roboting;
  src: url(../fonts/Fasthand/Fasthand-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: raleway;
  src: url(../fonts/Raleway/static/Raleway-Regular.ttf);
}
body {
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  text-align: center;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}/*# sourceMappingURL=main.css.map */