

.lastProdBox {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 40px;
    h2 {
        text-align: left;
        font-size: 25px;
        color: $color-3;
        font-family: "montserrat";
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 15px;
    }
    .contentPart{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 50px;
        .lastprod {
            border-radius: 10px;
            width: 25%;
            min-width: 300px;
            height: 400px;
            transition-duration: 200ms;
            opacity: 0;
            animation: lastprod 1000ms;
            animation-fill-mode: forwards;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            margin: 20px;
            margin-bottom: 20px;
            padding-bottom: 0px;
            box-shadow: rgb(215, 215, 215) 1px 1px 20px;
            &:hover {
                box-shadow: rgb(192, 192, 192) 1px 1px 20px;
                transition-duration: 200ms;
            }
            .logobox {
                background-color: rgba($color: #ffffff, $alpha: 0.6);
                width: 100%;
                height: 60%;
                margin: auto;
                padding: 0px;
                border-radius: 8px 8px 0px 0px;
                display: flex;
                justify-content: center;
                align-items: center;
    
                img {
                    width: 70%;
                    height: auto;
                }
            }
            .textpart {
                color: $color-3;
                font-weight: 600;
                height: 40%;
                padding: 10px;
                display: flex;
                border-radius: 0px 0px 10px 10px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgb(14, 14, 14);
                font-family: 'montserrat';
                .hiddenP{
                    display: none;
                }
                .moreOpt{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    a{
                        color: $color-5;
                        text-decoration: none;
                        background-color: $color-4;
                        padding: 5px;
                        border-radius: 3px;
                        margin-bottom: -20px;
                        margin-right: -20px;
                    }
                    .fa-plus{
                        color: white;
                        background-color: $color-2;
                        padding: 10px;
                        border-radius: 3px;
                        margin-left: -20px;
                    }
                }
                
            }
        }
        .lastprod1{
            animation-delay: 600ms;
        }
        .lastprod2{
            animation-delay: 800ms;
        }
        .lastprod3{
            animation-delay: 1000ms;
        }
        .lastprod4{
            animation-delay: 1200ms;
        }
        .lastprod5{
            animation-delay: 1400ms;
        }
        .lastprod6{
            animation-delay: 1600ms;
        }
        @keyframes lastprod{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
    }
}
.presentation{
    margin-bottom: 80px;
    .lastReal{
        width: 100%;
        display: flex;
        flex-direction: column;
        color: $color-3;
        font-size: 14px;
        text-align: left;
        font-family: "montserrat";
        .contentPart{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin: auto;
            width: 90%;
            box-shadow: rgb(223, 223, 223) 2px 2px 10px;
            border-radius: 30px;
            animation: lastProd 1000ms ease-in;
            .lastprodMini{
                padding: 0px;
                margin: 0px;
                
                img{
                    width: 200px;
                    padding: 30px;
                    transition-duration: 300ms;
                }
            }
        }
    }
}
.titlePart{
    margin: 15px;
    width: 350;
    h2{
        text-align: left;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        padding: 5px;
        color: $color-4;
        margin-bottom: 0px;
    }
}

@keyframes lastProd {
    0%{
        translate: -600%;
    }
    92%{
        translate: 10%
    }
    100%{
        translate: 0%;
    }
    
}



@media only screen and (max-width: 768px) {
    .lastProdBox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        background-color: $color-1;
        h2 {
            text-align: left;
            font-size: 17px;
            font-weight: 900;
            color: $color-3;
            font-family: "montserrat";
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: 15px;
        }
        .contentPart{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: auto;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-bottom: 100px;
            .lastprod {
                box-shadow: rgb(209, 209, 209) 1px 1px 20px;
                border: solid 1px $color-5;
                border-radius: 10px;
                width: 90%;
                min-width: 300px;
                height: 250px;
                animation: lastprod 1000ms;
                animation-fill-mode: forwards;
                margin: 0px;
                margin-bottom: 40px;
                padding-bottom: 0px;
                .logobox {
                    width: auto;
                    height: 60%;
                    margin: auto;
                    padding: 0px;
                    border-radius: 8px 8px 0px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img {
                        width: 35%;
                        height: auto;
                        margin: 0px;
                    }
                }
                .textpart {
                    color: $color-3;
                    height: 40%;
                    display: flex;
                    border-radius: 0px 0px 10px 10px;
                    padding: 10px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(14, 14, 14);
                    font-family: 'montserrat';
                    font-size: 14px;
                    .hiddenP{
                        display: none;
                    }
                    .moreOpt{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        a{
                            color: $color-5;
                            text-decoration: none;
                            background-color: $color-4;
                            padding: 5px;
                            border-radius: 3px;
                            margin-bottom: -15px;
                            margin-right: -15px;
                        }
                        .fa-plus{
                            color: white;
                            background-color: $color-2;
                            padding: 10px;
                            border-radius: 3px;
                            margin-bottom: -20px;
                            margin-left: -20px;
                        }
                    }
                }
            }
            .lastprod1{
                animation-delay: 600ms;
            }
            .lastprod2{
                animation-delay: 800ms;
            }
            .lastprod3{
                animation-delay: 1000ms;
            }
            .lastprod4{
                animation-delay: 1200ms;
            }
            .lastprod5{
                animation-delay: 1400ms;
            }
            .lastprod6{
                animation-delay: 1600ms;
            }
            @keyframes lastprod{
                0%{
                    opacity: 0;
                }
                100%{
                    opacity: 1;
                }
            }
            
        }
        
    }
    .presentation{
        margin-bottom: 50px;
        margin-top: 0px;
        .lastReal{
            width: 100%;
            display: flex;
            flex-direction: column;
            color: $color-3;
            font-size: 14px;
            text-align: left;
            font-family: "montserrat";
            .contentPart{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: auto;
                width: 90%;
                box-shadow: rgb(223, 223, 223) 2px 2px 10px;
                border-radius: 10px;
                animation: lastProd 1000ms ease-in;
                animation-fill-mode: forwards;
                .lastprodMini{
                    width: 30%;
                    margin: auto;
                    padding: 10px;
                    img{
                        width: 100px;
                        padding: 0px;
                        transition-duration: 300ms;
                    }
                }
            }
            }
    }

    @keyframes lastProd {
        0%{
            translate: -400%;
        }
        92%{
            translate: 5%
        }
        100%{
            translate: 0%;
        }
        
    }
}