footer{
    width: 100%;
    height: 120px;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 3px;
    left: 0;
    bottom: 0;
    text-align: center;
    p{
        color: $color-3;
        font-family: roboting;
        font-size: 2.2vh;
        margin: 10px;
    }
    #socialBox{
        margin: auto;
        font-size: 45px;
        padding-bottom: 15px;
        a{
            color: $color-1;
            transition: 300ms;
            margin: 18px;
            :visited{
                color: $color-1;
            }
            :hover{
                transform: scale(1.15) rotate(0.05turn);
                transition: 300ms;
                color: $color-4;
            }
    }
        i{
            transition: 300ms;
        }
    }
}


@media only screen and (max-width: 800px){
    footer{
        width: 100%;
        height: 120px;
        background-color: rgba($color: #000000, $alpha: 0.3);
        border-radius: 3px;
        left: 0;
        bottom: 0;
        text-align: center;
        p{
            color: $color-3;
            font-family: roboting;
            font-size: 25px;
            margin: 15px;
        }
        #socialBox{
            margin: auto;
            font-size: 50px;
            padding-bottom: 0px;
            a{
                color: $color-1;
                transition: 300ms;
                margin: 10px;
                :visited{
                    color: $color-1;
                }
                :hover{
                    transform: scale(1.15) rotate(0.05turn);
                    transition: 300ms;
                    color: $color-4;
                }
        }
            i{
                transition: 300ms;
            }
        }
    }
}