footer{
    width: 100%;
    height: 120px;
    background-color: white;
    border-radius: 3px;
    left: 0;
    bottom: 0;
    text-align: center;
    
    #socialBox{
        margin: auto;
        font-size: 45px;
        padding-bottom: 15px;
        a{
            color: $color-1;
            transition: 300ms;
            margin: 18px;
            :visited{
                color: $color-1;
            }
            :hover{
                transform: scale(1.15) rotate(0.05turn);
                transition: 300ms;
                color: $color-2;
            }
    }
        i{
            transition: 300ms;
        }
    }
}