@import "../Utils/variables";

main{
    min-height: 800px;
    width: 100%;
}

#contact-form{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    input{
        margin-bottom: 20px;
        border-radius: 8px;
        height: 25px;
        text-align: left;
        border-color: rgb(202, 202, 202);
    }

    label{
        color: $color-4;
        font-family: "montserrat";
        margin-top: 0px;
        text-align: left;
    }

    textarea{
        height: 70px;
        margin: 0px;
        border-radius: 10px;
        text-align: left;
        border-color: $color-3;
    }
    .send{
        color: $color-1;
        background-color: $color-2;
        font-family: 'montserrat';
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        height: 30px;
        width: 140px;
        margin: auto;
        margin-bottom: 0px;
        margin-top: 40px;
        cursor: pointer;
    }
}