#formation{
    color: black;
    font-family: "montserrat";
    text-align: left;
    background-color: $color-4;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-radius: 15px;
}

a{
    margin: auto;
    img{
        width: 20%;
        margin: auto;
    }
}

.project{
    color: black;
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.projects{
    color: black;
    box-shadow: rgb(198, 198, 198) 3px 3px 30px;
    margin: 15px;
    padding: 10px;
    width: 240px;
    height: 240px;
    border-radius: 10px;
}    